<header id="header">
  <h1>WAVES.JS</h1>
  <nav>
  <ul>
    <!-- <li><a href="#">Docs</a></li>
    <li><a href="#">Examples</a></li> -->
    <li><a href="{{ site.baseUrl }}/audio">Audio</a></li>
    <li><a href="{{ site.baseUrl }}/ui">UI</a></li>
    <li><a href="{{ site.baseUrl }}/lfo">LFO</a></li>
    <li><a href="{{ site.baseUrl }}/loaders">Loaders</a></li>
    <li><a href="{{ site.download }}">Downloads</a></li>
  </ul>
  </nav>
</header>
<div id="filters">
  <ul>
    <li><a href="#" data-target="all">#all</a></li>
    <li><a href="#" data-target="ui">#ui</a></li>
    <li><a href="#" data-target="audio">#audio</a></li>
    <li><a href="#" data-target="helpers">#helpers</a></li>
  </ul>
</div>
{% include includes/reset.md %}
