<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="col-left">
      {% include sidebar.html %}
    </div>

    <div class="main">
      {% include header.html %}

      {% for page in site.pages %}
        {% assign section = page.name | replace:".md", "" | split:"-" %}
        {% assign section = section[1] %}

        {% if section == 'helpers' or section == 'ui' or section == 'audio' or section == 'lfo'%}

          <header class="category">
          {{ page.content }}
          </header>

          {% for doc in site.docs %}
            {% assign p = doc.relative_path | split:"/" %}
            {% assign category = p[1]%}

              {% if section == category %}
                <section class="class-definition {{ category }}" data-category="{{ category }}">
                  {{ doc.content }}
                </section>
              {% endif %}

          {% endfor %}

          {% comment %} {{ content }} {% endcomment %}

        {% endif %}
      {% endfor %}

    </div>

    {% include footer.html %}

  </body>

</html>
