<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="col-left">
      {% include sidebar.html %}
    </div>

    <div class="main">
      {% include header.html %}

      {% for doc in site.docs %}
      {% assign p = doc.relative_path | split:"/" %}
      {% assign category = p[1] %}

        <section class="class-definition {{ category }}" data-category="{{ category }}">
          {{ doc.content }}
        </section>
      {% endfor %}

      {% comment %} {{ content }} {% endcomment %}

    </div>

    {% include footer.html %}

  </body>

</html>
